const method1 = styled.div`
 width: 30rem;
 height: 20rem;
 box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
 background-color: rgba(255, 255, 255, 0.2);
 -webkit-backdrop-filter: blur(5px);
 backdrop-filter: blur(5px);

`
const method2 = styled.div`
/* make the parent's background - background-attachment: fixed; */
 width: 30rem;
 height: 20rem;
 box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
 background: inherit;
 position: relative;
 overflow: hidden;
 z-index: 1;
 &::after{
  content: '';
  position: absolute;
  background: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 100px rgba(255,255,255,.5);
  filter: blur(5px);
  margin: -30px;
  z-index: -1;
 }

`